body{
    background-image: url("../images/abstractw.jpg");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.content {
    max-width: 960px;
    margin: auto;
    background: white;
    padding: 10px;
    
  }
.top-container{
    
    overflow: hidden;
    border-bottom: solid;
text-align: center;
background-color: #ffffff;

}
.header{
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaa5;
    width: 40%;
    height: 50px;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
    float:left;
    margin-top: 0;
}

.topnav a:hover{
    background-color: #ddd;
  color: black;
}
.topnav{
    width: 50%;
    float: right;
    
    
}
.topnav a{
   
    display: inline-block;
    padding: 14px 16px;
    text-decoration: none;
    color: #777777;
}

.middle-container{
    color: #777777;
    height: 2000px; 
    
}



.header2{
    color:#4aaaa5;
    padding: 5px;
    

}
.header2{
    border-bottom: solid;
    border-color: #777777;
}

.images{
    float: left;
    clear: both;
    margin-right: 20px;
    margin-bottom: 5px;

}

.name{
    margin-top: 10px;
    margin-bottom: 10px;
}
.email{
    margin-top: 10px;
    margin-bottom: 10px;
}

.message{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100px;

}
.img1{

    float:left;
    text-align: center;
    height:300px;
    width:350px;
    margin-bottom: 0;
    margin-left: 40px;
    margin-top: 0;
    
}

.dice{

    height:300px;
    width:350px;
    margin-bottom: 0;
}
.img2{

    float:right;
    height:300px;
    width:350px;
    margin-bottom: 0;
    text-align: center;
    margin-left: 40px;
    margin-top: 0;
    margin-right: 40px;
    
}

.webdev{
margin-top: 0;
    height:300px;
    width:350px;
    margin-right: 40px;
}

.img3{
    clear: both;
    float:left;
    height:300px;
    width:350px;
    margin-bottom: 0;
    text-align: center;
    margin-left: 40px;
    margin-top: 100px;
    

}

.img4{

    float:right;
    height:300px;
    width:350px;
    margin-bottom: 0;
    text-align: center;
    margin-left: 40px;
    margin-top: 60px;
    margin-right: 40px;
    
}
.dice1{
    margin-top: 40px;
    height:300px;
    width:350px;
    margin-bottom: 0;
    margin-right: 40px;
}


.health{

    height:300px;
    width:350px;
    
}

h3{
    background-color: #4aaaa5;
    padding: 20px;
    margin-top: 0;
    margin-bottom: 40px;

}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
    border-top:solid 8px #4aaaa5;
    padding: 20px;
    text-align: center;
    font-size:10px;
    background-color: #666666;
    color: #ddd;
    margin: 0;
}
@media screen and (max-width: 980px){


}
@media screen and (max-width: 768px){
.content{
    background-color: rgb(238, 238, 190);
}

}
@media screen and (max-width: 640px){
    .img1, .img2, .img3, .img4, .dice, .webdev, .dice1, .health {
        margin-top: 0;
        
        
    }
    .content{
        background-color: burlywood;
    }
    h3{
        display:none;
    }
    .img1, .img3, .dice, .health{
        margin-right:0px;
        padding-left: 9px;

    }
    
}